<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de Matrícula</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/confirma.css">
</head>

<body>
    <div class="container">
        <h1>Confirmación de Matrícula</h1>
        <hr>

        <h3>Curso seleccionado:</h3>
        <p><strong>Curso:</strong> <%= curso %></p>

        <h3>Medio de pago seleccionado:</h3>
        <p><strong>Medio de Pago:</strong> <%= medioPago %></p>

        <h3>Datos de confirmación:</h3>
        <p>¡Su matrícula ha sido confirmada! Los siguientes son los detalles de su matrícula:</p>

        <ul>
            <li><strong>Curso:</strong> <%= curso %></li>
            <li><strong>Total a pagar:</strong> S/. <%= totalpagar %></li>
            <li><strong>Medio de Pago:</strong> <%= medioPago %></li>
        </ul>
        <button class="btn" onclick="window.print()">Imprimir Confirmación</button>
    </div>
</body>
</html>
